<svg id="playButtonSvg" xmlns="http://www.w3.org/2000/svg" width="138" height="138" viewBox="0 0 138 138" fill="none">
	<circle cx="69" cy="69" r="69" fill="#2C2626"/>
	<g filter="url(#filter0_i_2976_3736)">
	<circle cx="69" cy="68" r="59" fill="#AF1119"/>
	</g>
	<circle id="redCircle" cx="69" cy="58" r="58" fill="#AF1119"/>
	<defs>
	<filter id="filter0_i_2976_3736" x="10" y="5" width="118" height="122" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
	<feFlood flood-opacity="0" result="BackgroundImageFix"/>
	<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
	<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
	<feMorphology radius="4" operator="erode" in="SourceAlpha" result="effect1_innerShadow_2976_3736"/>
	<feOffset dy="-7"/>
	<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
	<feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0"/>
	<feBlend mode="normal" in2="shape" result="effect1_innerShadow_2976_3736"/>
	</filter>
	</defs>
</svg>