{% load static i18n %}

<div class="friendsPage-container">
	<div class="d-flex justify-content-between friendsPage-title">
		<div class="col-6">
			{% blocktrans %}
			<h2>
				<span>{{ user_display_name }}'s friends</span>
			</h2>
			{% endblocktrans %}
		</div>
		<div class="d-flex flex-column">
			<form id="userSearchForm" class="input-group friendsPage-inputGroup">
				<input type="text" id="searchField" class="form-control friendsPage-formControl"
					placeholder="search for someone" aria-label="{% translate 'Search for someone' %}">
				<button class="btn btn-outline-secondary friendsPage-btnOutlineSecondary" type="submit"><i
						class="fa fa-search"></i></button>
			</form>
			<div id="resultsContainer"></div>
		</div>
	</div>
	<div class="overflow-y-scroll overflowList">
		<div id="friendsList">
			<!-- Friend cards will be dynamically inserted here -->
		</div>
	</div>
</div>

<div class="modal fade" id="addFriendModal" tabindex="-1" aria-labelledby="addFriendModalLabel" aria-hidden="true"
	data-bs-theme="dark">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addFriendModalLabel">{% translate "Add Friend" %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-white pt-0">
				<p>{% translate "Do you want to add " %}<span id="modalUserNameAdd"></span>{% translate " as a friend?" %}
				</p>
			</div>
			<div class="d-flex flex-column">
				<div class="modal-footer">
					<button type="button" class="btn btn-light" id="addFriendButton">{% translate "Add as Friend"
						%}</button>
				</div>
				<div class="d-flex flex-row-reverse">
					<div id="errorMessage"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="pendingFriendModal" tabindex="-1" aria-labelledby="pendingFriendModalLabel"
	aria-hidden="true" data-bs-theme="dark">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="pendingFriendModalLabel">{% translate "Pending Friend" %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-white pt-0">
				<p>{% translate "Do you want to remove " %}<span id="modalUserNamePending"></span>{% translate "'s
					friendship request ?"%}</p>
			</div>
			<div class="d-flex flex-column">
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="pendingFriendButton">{% translate "Remove Request"
						%}</button>
				</div>
				<div class="d-flex flex-row-reverse">
					<div id="errorMessage"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="removeFriendModal" tabindex="-1" aria-labelledby="removeFriendModalLabel" aria-hidden="true"
	data-bs-theme="dark">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="removeFriendModalLabel">{% translate "Remove Friend" %}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-white pt-0">
				<p>{% translate "Do you want to remove " %} <span id="modalUserNameRemove"></span>{% translate "'s
					friendship?" %}</p>
			</div>
			<div class="d-flex flex-column">
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="removeFriendButton">{% translate "Remove Friend"
						%}</button>
				</div>
				<div class="d-flex flex-row-reverse">
					<div id="errorMessage"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="userInfoModal" tabindex="-1" aria-labelledby="userInfoModalLabel" aria-hidden="true"
	data-bs-theme="dark">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 id="userInfoName"></h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex justify-content-center">
				<img id="userInfoImage" src="" alt="User Picture" class="img-fluid rounded matesImage me-4">
			</div>
			<div class="modal-footer">
				<p id="userInfoLogin"></p>
			</div>
		</div>
	</div>
</div>


<script type="module" src="{% static 'js/friends.js' %}" defer></script>