{% load static i18n %}

<div class="friendsPage-container">
	<div class="d-flex justify-content-between align-items-center friendsPage-title">
		<div class="col-6">
			<h2><span>{{ user_display_name }}'s friends</span></h2>
		</div>
		<form id="userSearchForm" class="input-group friendsPage-inputGroup">
			<input type="text" id="searchField" class="form-control friendsPage-formControl"
				placeholder="search for someone" aria-label="Search for someone">
			<button class="btn btn-outline-secondary friendsPage-btnOutlineSecondary" type="submit"><i
					class="fa fa-search"></i></button>
		</form>
	</div>
	<div id="friendsList">
		<!-- Friend cards will be dynamically inserted here -->
	</div>
	<!-- Navigation buttons can be added here -->
</div>

<script type="module" src="{% static 'js/friends.js' %}" defer></script>