{% load static %}

<div id="initialScreenDiv" class="screen-horizontal bg-black">
  <!-- Pong logo -->
  <div class="container d-flex align-items-center justify-content-center">
    <img src="{% static 'images/pong-logo.svg' %}" alt="" />
  </div>
  <!-- Power button -->
  <div class="container d-flex align-items-center justify-content-center power-button-container">
    <div class="d-flex align-items-center justify-content-end">
      <div class="text-primary">Power</div>
    </div>
  </div>
  <!-- Wood footer -->
</div>
