div#lobbyDiv {
    width: 100%;
    height: 80%;
}

div#dottedLine {
    border-right: 1.2vw dashed #fcfcfd;
    height: 60%;
    width: 0px;
}

div#modalContent {
    background-color: #1C1A1A;
}

h3#settingName {
    min-width: 15vw;
    text-align: center;
}

div#playButtonDiv {
    margin-top: 8vh;
    margin-bottom: 6vh;
}