{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA POC</title>
    <link rel="stylesheet" href="{% static 'css/core/pages/SPA.css' %}">
</head>
<body>
    {% comment %} <section class="camera"></section> {% endcomment %}
    <section class="canvas">
        <section id="first-pane" class="pane pane-layer"></section>
        <section id="second-pane" class="horizontal-pane pane-layer">
            <section class="pane"></section>
            <section class="pane"></section>
        </section>
        <section id="last-pane" class="pane pane-layer"></section>
    </section>
    <script src="{% static 'js/core/pages/SPA.js' %}"></script>
</body>
</html>