{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/core/pages/spa.css' %}" />
    <title>PONG</title>
</head>
<body>
    <section id="profile">
        <!-- new section -->
    </section>
    <section id="home">
        <div id="first">
            <div id="woodpanel"></div>
            {% include "components/pong-logo.html" with width="65vw" height="15vh" %}
            {% include "components/atari-logo.html" with width="12vw" height="12vh" %}
        </div>
        <div id="second">
            {% include "components/power-button.html" %}
        </div>
    </section>
    <script src="{% static 'js/move-svg-circle.js' %}"></script>
</body>
</html>