div#control-panel {
    height: 20vh;
    position: fixed;
    bottom: 10vh;
    left: 0;
    right: 0;
    margin: 0 10%;
    padding: 1% 10%;
    z-index: 10;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-radius: 13px;
    border: 2px solid var(--ORANGE);
    background: rgba(217, 217, 217, 0);

    transition: border 1s ease-in-out, bottom 1s ease-in-out, height 1s ease-in-out, margin 1s ease-in-out, padding 1s ease-in-out;
}

div#control-panel.shrink {
    border: 0px;
    bottom: 30vh;
    height: 30vh;
    margin: 0 40%;
    padding: 0;
}

div#control-panel .right-side svg circle:hover {
    cursor: pointer;
}

@keyframes moveCircle {
    from {
        /* Initial state */
        cy: 54; /* cima */
    }

    to {
        /* Final state */
        cy: 147; /* baixo */
    }
}

@keyframes moveCircleReverse {
    from {
        /* Initial state */
        cy: 147; /* baixo */
    }
    
    to {
        /* Final state */
        cy: 54; /* cima */
    }
}

div#control-panel .right-side svg circle.peg-state-off {
    animation: moveCircle 1s ease-in-out;
}

div#control-panel .right-side svg circle.peg-state-on {
    animation: moveCircleReverse 1s ease-in-out;
}