div#control-panel {
    position: fixed;
    bottom: 10vh;
    left: 0;
    right: 0;
    margin: 0 10%;
    padding: 0 10%;
    z-index: 10;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-radius: 13px;
    border: 2px solid var(--ORANGE);
    background: rgba(217, 217, 217, 0);
    height: 15vh;

    transition: border 1s ease-in-out, bottom 1s ease-in-out, height 1s ease-in-out, margin 1s ease-in-out;
}

div#control-panel.shrink {
    border: 0px;
    bottom: 30vh;
    height: 30vh;
    margin: 0 40%;
}

div#left-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

div#on-off-toggle {
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div#on-word {
    width: 3vw;
    min-width: 20px;
    min-height: 6px;
}

div#off-word {
    width: 3vw;
    height: 2vh;
    min-width: 20px;
    min-height: 6px;
}

#power-label svg,
#home-label svg,
#stats-label svg,
#lobby-label svg,
#kudos-label svg {
    width: 5.5vw;
    height: 1.2vh;
    min-width: 40px;
    min-height: 8px;
    fill: "none";
}

div#switch-svg {
    height: 5%;
}

#switch-svg svg {
    width: 5vw;
    height: 10vh;
    margin-top: 1.1vh;
    min-width: 20px;
    min-height: 35px;
    flex-shrink: 0;
}
