.switch-component {
    margin-right: 10%;

    opacity: 1;
    visibility: visible;

    transition: all 1s ease-in-out;
}

.switch-component.hiding {
    opacity: 0;
    visibility: hidden;
}

.switch-label svg {
    width: 7.5vw;
    height: 4vh;
    min-width: 40px;
    min-height: 8px;
    fill: "none";
    display: flex;
}

.switch-body {
    display: flex;
}

.switch-body .left-side {
    justify-self: center;
    align-self: center;
}

.range-indicator {
    height: 8vh;
    margin-top: 2vh;
    min-width: 20px;
    min-height: 35px;
}
