{% load static %}
<link rel="stylesheet" href="{% static 'css/components/stats.css' %}">

<div id="matchesHistoryDiv" class="text-white d-flex">
    <div id="historyDiv" class="">
        <div id="coopHistoryDiv">
            <table>
                <tbody>
                    {% for i in table_rows_count %}
                    <tr>
                        {% for j in table_columns_count %}
                            <td id="coopSquare" style={{ color }}></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% comment %} Last tr is 2-squares short {% endcomment %}
                    <tr>
                        {% for j in table_last_column_count %}
                            <td id="coopSquare" style="{{ color }}"></td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="versusHistoryDiv">
            double dale
        </div>
    </div>
    <div id="matchesDiv">
        triple dale
    </div>
</div>