{% load i18n %}
<div class="tournamentCard row mb-5 py-4">
  <div class="col-5 ps-5">
    <h3>{% translate 'Tournament' %} {{ tournament_data.name }}</h3>
    <p>{% translate 'Blockchain hash:' %} {{ tournament_data.id }}</p>
    <p>{{ tournament_data.date }}</p>
  </div>
  <div class="col-7 d-flex flex-wrap justify-content-end align-items-center">
    <h3 class="me-5">{% translate 'Winner:' %} {{ tournament_data.winner_name }}</h3>
    <img class="me-3 mb-3" id="winnerImg" src="{{ tournament_data.winner_img }}" height=100 width=100>
  </div>
</div>