{% load static i18n %}
<link rel="stylesheet" href="{% static 'css/sections/stats.css' %}">

<div class="container-fluid">
	<!-- Empty Space Row -->
	<div class="row mt-2"></div>
  
	<!-- Profile Header Section -->
	<div class="row profile-header">
	  <!-- Empty Space Column -->
	  <div class="col-0 col-md-1"></div>
	  
	  <!-- First Column -->
	  <div class="col-6 col-md-4">
		<!-- Distance Row -->
		<div id="rectangle" class="row">
			<div class="row mt-3"></div>
			<!-- Image + Words Row -->
			<div class="row d-flex align-items-justified">
				<div class="col-0 col-md-3"></div>
				<div class="col-0 col-md-1">
					<img style="max-height: 80px; width: auto;" src="{% static 'achievements/icon-distance.png' %}" alt="{% translate 'Distance icon' %}" title="{% translate 'Distance walked together' %}">
				</div>
				<div class="col-0 col-md-6">
					<p id="userStatsMax">{{ distance }}</p>
				</div>
			</div>
			<p id="userStatsText">{% translate "DISTANCE WALKED TOGETHER" %}</p>
		</div>
		<!-- Empty Row -->
		<div class="row mt-5"></div>
		<!-- High Five Row -->
		<div id="rectangle" class="row">
			<div class="row mt-3"></div>
			<!-- Image + Words Row -->
			<div class="row d-flex align-items-justified">
				<div class="col-0 col-md-3"></div>
				<div class="col-0 col-md-1">
					<img style="max-height: 80px; width: auto;" src="{% static 'achievements/icon-friends.png' %}" alt="{% translate 'Distance icon' %}" title="{% translate 'Distance walked together' %}">
				</div>
				<div class="col-0 col-md-6">
					<p id="userStatsMax">{{ high_five }}</p>
				</div>
			</div>
			<p id="userStatsText">{% translate "HIGH FIVE COUNT" %}</p>
		</div>
	  </div>
	  <!-- Bff Column -->
	  <div class="col-2 col-md-2 d-flex flex-column align-items-center justify-content-center">
		  <div class="bffText">BFF</div>
		<div class="bffImage">
			<img src="static/images/roaraujo.jpeg" alt="Imagem Redonda" class="roundedImage">
		</div>
		<p id="userStatsBFF">{% translate "you played " %} {{ bff_matches }} {% translate "matches with " %} {{ bff_login }}!</p>
	  </div>
	  <!-- Second Column -->
	  <div class="col-6 col-md-4">
		<!-- Hours Row -->
		<div id="rectangle" class="row">
			<div class="row mt-3"></div>
			<!-- Image + Words Row -->
			<div class="row d-flex align-items-justified">
				<div class="col-0 col-md-3"></div>
				<div class="col-0 col-md-1">
					<img style="max-height: 80px; width: auto;" src="{% static 'achievements/icon-time.png' %}" alt="{% translate 'Distance icon' %}" title="{% translate 'Distance walked together' %}">
				</div>
				<div class="col-0 col-md-6">
					<p id="userStatsMax">{{ hours_played }}</p>
				</div>
			</div>
			<p id="userStatsText">{% translate "HOURS PLAYED" %}</p>
		</div>
		<!-- Empty Row -->
		<div class="row mt-5"></div>
		<!-- Companions Row -->
		<div id="rectangle" class="row">
			<div class="row mt-3"></div>
			<!-- Image + Words Row -->
			<div class="row d-flex align-items-justified">
				<div class="col-0 col-md-3"></div>
				<div class="col-0 col-md-1">
					<img style="max-height: 80px; width: auto;" src="{% static 'achievements/icon-person.png' %}" alt="{% translate 'Distance icon' %}" title="{% translate 'Distance walked together' %}">
				</div>
				<div class="col-0 col-md-6">
					<p id="userStatsMax">{{ companions }}</p>
				</div>
			</div>
			<p id="userStatsText">{% translate "COMPANIONS MET" %}</p>
		</div>
	  </div>
  
	  <!-- Empty Space Column -->
	  <div class="col-0 col-md-1"></div>
	</div>
	
  </div>
