{% load static %}
<link rel="stylesheet" href="{% static 'css/stats/style.css' %}">

<div id="userStatsDiv" class="text-white d-flex justify-content-center">
	<!-- Retangulo da esquerda -->
	<div class="d-flex flex-column mt-3 me-3 justify-content-between">
	<div id="rectangle">
		<p>"Distance walked together"</p>
	</div>
	<div id="rectangleSpace"></div>
	<div id="rectangle">
        <p>"High Five Count"</p>
	</div>
	</div>
	<!-- meio -->
    <div id="verticalDiv" class="d-flex-column justify-content-center">
		<p>You played XX matches with XXXXXXXXXXXXXXXXXXX</p>
    </div>
	<!-- Retangulo da direita -->
	<div class="d-flex flex-column mt-3 me-3 justify-content-between">
		<div id="rectangle">
			<p>"Hours played"</p>
		</div>
		<div id="rectangleSpace"></div>
		<div id="rectangle">
			<p>"Companions met"</p>
		</div>
</div>
