{% load static i18n %}

<div class="container-fluid">
  <!-- Profile Header Section -->
  <div class="row mt-5 profile-header">
    <!-- Empty Space Column -->
    <div class="col-0 col-md-2"></div>
    
    <!-- User Image Column -->
    <div class="col-6 col-md-2">
      {% if user_image %}
      {% include "soninha/partials/profile-picture.html" %}
      {% endif %}
    </div>
    <!-- User Digest Column -->
    <div class="col-6 col-md-6">
      {% include "soninha/partials/display-name.html" %}
      <h3>{{ user_login }}</h3>
      {% include "soninha/partials/user-stats.html" %}
    </div>

    <!-- Empty Space Column -->
    <div class="col-0 col-md-2"></div>
  </div>
  
  <!-- Bottom Half Section -->
  <div class="row mt-5 profile-bottom-half">
    <!-- Empty Space Column -->
    <div class="col-0 col-md-2"></div>

    <!-- Achievements Segment -->
    <div id="" class="col-6 col-md-4 achievements-segment">
      {% include "soninha/partials/achievements-segment.html" %}
    </div>
    <!-- Friends Segment -->
    <div class="col-6 col-md-4 friends-segment">
      {% include "soninha/partials/friends-segment.html" %}
    </div>

    <!-- Empty Space Column -->
    <div class="col-0 col-md-2"></div>
  </div>
</div>

{% include 'soninha/partials/profile-picture-edition-modal.html' %}
<script type="module" src="{% static 'js/profile.js' %}" defer></script>