{% load static i18n %}

<div id="userDiv" class="d-flex">
  <div id="userInfoContainer" class="d-flex flex-column">
    <div class="d-flex justify-content-center align-items-center">

        {% if user_image %}
          {% include "soninha/partials/profile-picture.html" %}
        {% endif %}

        <div id="userInfoDiv" class="d-flex flex-column justify-content-center text-white ms-5">

          {% include "soninha/partials/display-name.html" %}

          <h3>{{ user_login }}</h3>
          <div id="userStatsDiv" class="d-flex mt-3">
            <h4 class="ms-3">🙌 {{ user_helps }}</h4>
            <h4 class="ms-3">📍 {{ user_ball_distance }}</h4>
            <h4 class="ms-3">🕰️ {{ user_time_played }}</h4>
            <h4 class="ms-3">👯 {{ user_number_of_friends }}</h4>
          </div>
        </div>
      </div>
      <div id="achievementsAndFriends">
        <div id="achievements">
          {% include "soninha/partials/achievements-segment.html" %}
        </div>
        <div id="friends">
          {% include "soninha/partials/friends-segment.html" %}
        </div>
      </div>
  </div>
</div>

{% include 'soninha/partials/profile-picture-edition-modal.html' %}
<script type="module" src="{% static 'js/profile.js' %}" defer></script>