{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Trancendence</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
  <main class="bg-black vh-100">
    <div class="d-flex text-white justify-content-evenly">
      <h2>{{player1}}</h2>
      <h2>{{player2}}</h2>
    </div>
    {% comment %} <p style="color: #fff"> Match history </p> {% endcomment %}
    <div class="d-flex h-75">
      <canvas class="" id="game"
        data-match-id={{match_id}}
        data-player1={{player1}}
        data-player2={{player2}}>
      </canvas>
      <article class="mx-2 container w-25 mh-100">
        <ul class="list-group overflow-auto w-100 h-100" style>
          {% for record in records %}
            {% include 'pong/partials/match-card.html' %}
          {% endfor %}
        </ul>
      </article>
    </div>
    <script src="{% static 'js/pong.js' %}"></script>
  </main>
</body>
</html>
