{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trancendence</title>
    <link rel="stylesheet" href="{% static 'css/first_screen.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <script type="module" src="{% static 'js/displayUser.js' %}"></script>
</head>
<body class="bg-black">
    <div id="userDiv"></div>
</body>
</html>
