{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trancendence</title>
    <link rel="stylesheet" href="{% static 'css/first_screen.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
</head>
<body>
    {% include "components/navbar.html" %}
    <h1 style="color: white;">{% translate "Play a match!" %}</h1>
    <a href="{% url 'pong:game' %}" class="button">Pong</a>
    <form action="{% url 'pong:game' %}" method="post">
        {% csrf_token %}
        <input type="text" name="player1" placeholder="Player One Name">
        <input type="text" name="player2" placeholder="Player Two Name">
        <button type="submit">Play Pong</button> 
    </form>
</body>
</html>
