@import 'components/control-panel/base.css';
@import 'components/control-panel/switch.css';
@import 'sections/kudos.css';
@import 'sections/lobby.css';
@import 'sections/login.css';
@import 'sections/profile.css';
@import 'sections/stats.css';

* {
    margin: 0;
    padding: 0;

    /* DEBUGGING */
    outline: 1px solid magenta;
}

body {
    background: var(--HEAVY_GRAY);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Bakbak One', sans-serif;
    color: var(--OFF_WHITE);
}

body,
html {
    height: 100vh;
}

section {
    min-width: 100vw;
    height: 100vh;
}

.board-row {
    height: 100vh;
    display: flex;
}

/* Define specific sizes for each heading level */
h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.75em;
}

h6 {
    font-size: 1.5em;
}