@import 'components/control-panel/base.css';
@import 'components/control-panel/switch.css';
@import 'components/pong-logo.css';
@import 'components/wood-grain-panel.css';

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
}

section {
    min-width: 100vw;
    height: 100vh;
    flex: 1;
}

section h1 {
    color: white;
}

section#login {
    position: relative;
}

.board-row {
    height: 100%;
    display: flex;
}