:root {
    --HEAVY_GRAY: #1C1A1A;
    --MEDIUM_GRAY: #3A3535;
    --LIGHT_GRAY: #423f3f;
    --OFF_WHITE: #D9D9D9;
    --WHITE: #FCFCFD;
    --GREEN: #33B84E;
    --RED: #D72B35;
    --ORANGE: #F6790B;
    --YELLOW_30: #FFF1B6;
    --YELLOW_60: #FFE162;
    --YELLOW_100: #FFCE00;
    --GOLD: #FCC914;
    --SILVER: #F0E4E4;
    --COPPER: #BC6B3D;
}