div#profilePicture {
    position: relative;
}

#profilePicture .btn {
    color: var(--WHITE);
    position: absolute;
    bottom:0;
    right:0;
    padding: 0 7% 7% 0;
}

#profilePicture .btn i {
    font-size: 1.75rem;
    
    transition: font-size 0.1s linear;
}

#profilePicture:hover .btn i {
    font-size: 2.5rem;
}