div#profilePicture {
    position: relative;
}

#profilePicture .btn {
    color: var(--WHITE);
    position: absolute;
    bottom:0;
    right:0;
    padding: 0 7% 7% 0;
}

#profilePicture .btn i {
    font-size: 1.75rem;
    
    transition: font-size 0.1s linear;
}

#profilePicture:hover .btn i {
    font-size: 2.5rem;
}

section#profile .modal-footer {
    border-top: none; /* Remove the top border of the modal footer */
}

div#userDiv {
	margin-top: 8vh;
}

div#userInfoContainer {
	margin-left: 15vw;
}

.roundedSquareImage {
	border-radius: 8px;
	border: 3px solid #FCFCFC;
	background-size: cover; /* Scale the background image to cover the entire container */
	background-position: center; /* Center the background image within the container */
	width: 221px;
	height: 221px;
}

p#userLogin {
	font-size: 2em;
}

#userDisplayName span {
	font-size: 4em;
	margin-bottom: 0;
	user-select: none;
}

button:has(> i.fa.fa-pencil-square) {
	background-color: transparent;
	border: none;
  }

.fa-pencil-square {
	color: var(--WHITE);
	font-size: 2em;
}

#userDisplayName>button {
	transition: transform 0.2s ease;
}

#userDisplayName>button:hover {
	transform: scale(1.2);
}

#userDisplayNameForm input {
	background-color: var(--LIGHT_GRAY);
	color: var(--WHITE);
	border: none;
	font-size: 4em;
	margin-bottom: 0;
	width: 80%;
}

p#userStats {
	font-size: 1.5em;
	margin-right: 3rem !important;
}

div#achievementsAndFriends {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #FCFCFC;
	margin-top: 5em;
}

div#friends {
	margin-left: 3em;
}

p#userAchievementsText,
p#friendsText {
	color: #FCFCFC;
	font-size: 2em;
}

img#achieveImage:hover {
	transform: scale(1.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
