

td#coopSquare,
td#versusSquare {
    width: 20px;
    height: 20px;
    border: 5px solid var(--HEAVY_GRAY);
}

table {
    border-spacing: 30px;
}

div#coopHistoryDiv {
    margin-bottom: 10vh;
}

div#matchRow {
    min-width: 100px;
    width: 50vw;
    background-color: #3a3535;
    font-size: 1.5em;
}

div#matchesDiv {
    max-width: 50vw;
    height: 60vh;
}

p#matchText {
    min-width: 10vh;
    width: 35vh;
}

p#matchScore,
p#matchHour,
p#matchDate {
    min-width: 2vh;
    width: 20vh;
    text-align: center;
}

div#rectangle {
    width: 470px; /* Adjust the width as needed */
    height: 221px; /* Adjust the height as needed */
    background-color: #3A3535; /* Set the background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

div#rectangleSpace {
    width: 470px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

div#verticalDiv {
    width: 315px; /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}