<div id="control-panel" class="shrink d-flex justify-content-center">
    <a id="intraLoginRedirectUrl" style="display: none;">{{ redirect_url }}</a>
    {% include "components/control-panel/switch/base.html" with label="login" %}
    {% include "components/control-panel/switch/base.html" with label="profile" %}
    {% include "components/control-panel/switch/base.html" with label="stats" %}
    {% include "components/control-panel/switch/base.html" with label="lobby" %}
    {% include "components/control-panel/switch/base.html" with label="kudos" %}
</div>
