{% load static i18n %}

<h3>{% translate "ACHIEVEMENTS" %}</h3>
<!-- First row of images -->
<div class="d-flex">
  <!-- Ball Distance -->
  <img class="achievementImage me-3" width="80" height="80" src="{% static ball_distance.src %}" alt="{{ ball_distance.alt_text }}" title="{{ ball_distance.title }}">
  <!-- Friends Count -->
  <img class="achievementImage me-3" width="80" height="80" src="{% static friends_count.src %}" alt="{{ friends_count.alt_text }}" title="{{ friends_count.title }}">
  <!-- Hours Played -->
  <img class="achievementImage me-3" width="80" height="80" src="{% static hours_played.src %}" alt="{{ hours_played.alt_text }}" title="{{ hours_played.title }}">
</div>

<!-- Second row of images -->
<div class="d-flex mt-3">
  <!-- Classic -->
  <img class="achievementImage me-3" width="80" height="80" src="{% static matches_classic.src %}" alt="{{ matches_classic.alt_text }}" title="{{ matches_classic.title }}">
  <!-- Co-op Count -->
  <img class="achievementImage me-3" width="80" height="80" src="{% static matches_coop.src %}" alt="{{ matches_coop.alt_text }}" title="{{ matches_coop.title }}">
  <!-- Win Played -->
  <img class="achievementImage me-3" width="80" height="80" src="{% static matches_won.src %}" alt="{{ matches_won.alt_text }}" title="{{ matches_won.title }}">
</div>