{% load static i18n %}

<h3>{% translate "MATES ALONG THE WAY" %}</h3>
<!-- First row of images -->
<div class="d-flex mt-3">
  <img class="matesImage me-4" width="80" height="80" src="static/images/etachott.jpeg" alt="Friend's Photo" title="Friend's Name">
  <img class="matesImage me-4" width="80" height="80" src="static/images/feralves.jpeg" alt="Friend's Photo" title="Friend's Name">
  <img class="matesImage me-4" width="80" height="80" src="static/images/guribeir.png" alt="Friend's Photo" title="Friend's Name">
</div>

<!-- Second row of images -->
<div class="d-flex mt-3">
  <img class="matesImage me-4" width="80" height="80" src="static/images/roaraujo.jpeg" alt="Friend's Photo" title="Friend's Name">
  <img class="matesImage me-4" width="80" height="80" src="static/images/viferrei.jpeg" alt="Friend's Photo" title="Friend's Name">
  <a href=""><h1 id="addSign" class="ms-4" >+</h1></a>
</div>