{% load static i18n %}

<h3>{% translate "MATES ALONG THE WAY" %}</h3>
<!-- Flex container for friends images and the plus sign -->
<div class="d-flex mt-3 col-8 md-4">
    <!-- Div for friends images -->
    <div id="friendsContainer">
        <!-- Friends will be added here by JS -->
    </div>
    <!-- Plus sign to add more friends, wrapped in a span to align it with images -->
    <h1 id="addSign" class="align-self-center ms-2">+</h1>
</div>

<script type="module" src="{% static 'js/mates-along.js' %}" defer></script>