{% load static i18n %}
<link rel="stylesheet" href="{% static 'css/components/user.css' %}" />

<div id="userDiv" class="d-flex">
	<div id="userInfoContainer" class="d-flex flex-column">
		{% if user_image %}
		<div id="userImageDiv" class="d-flex justify-content-center align-items-center">
			<img id="userImage" width=221 height=221 src="{{ user_image }}">
			<div id="userInfoDiv" class="d-flex flex-column justify-content-center text-white ms-5">
				<p id="userLogin">{{ user_login }}</p>
				<p id="userDisplayName">{{ user_display_name }}</p>
				<div id="userStatsDiv" class="d-flex mt-3">
					<p id="userStats"> 🙌 {{ user_helps }}  </p>
					<p id="userStats"> 📍 {{ user_ball_distance }}  </p>
					<p id="userStats"> 🕰️ {{ user_time_played }}  </p>
					<p id="userStats"> 👯 {{ user_number_of_friends }}  </p>
				</div>
			</div>
		</div>
		<div id="achievementsAndFriends">
			<div id="achievements">
				<p id="userAchievementsText">ACHIEVEMENTS</p>
				<!-- First row of images -->
				<div class="d-flex justify-content-between">
					<!-- Ball Distance -->
					{% if achievement_ball_distance >= 42 %}
						<img id="ball_4" width=80 height=80 src="{% static 'achievements/distance-gold.png' %}" alt="Achievement 1">
					{% elif achievement_ball_distance >= 21 %}
						<img id="ball_3" width=80 height=80 src="{% static 'achievements/distance-silver.png' %}" alt="Achievement 1">
					{% elif achievement_ball_distance >= 10 %}
						<img id="ball_2" width=80 height=80 src="{% static 'achievements/distance-copper.png' %}" alt="Achievement 1">
					{% else %}
						<img id="ball_1" width=80 height=80 src="{% static 'achievements/distance-white.png' %}" alt="Achievement 1">
					{% endif %}

					<!-- Friends Count -->
					{% if achievement_friends_count >= 42 %}
						<img id="friends_4" width=80 height=80 src="{% static 'achievements/friends-gold.png' %}" alt="Achievement 1">
					{% elif achievement_friends_count >= 21 %}
						<img id="friends_3" width=80 height=80 src="{% static 'achievements/friends-silver.png' %}" alt="Achievement 1">
					{% elif achievement_friends_count >= 10 %}
						<img id="friends_2" width=80 height=80 src="{% static 'achievements/friends-copper.png' %}" alt="Achievement 1">
					{% else %}
						<img id="friends_1" width=80 height=80 src="{% static 'achievements/friends-white.png' %}" alt="Achievement 1">
					{% endif %}

					<!-- Hours Played -->
					{% if achievement_hours_played >= 7 %}
						<img id="hours_4" width=80 height=80 src="{% static 'achievements/hours-gold.png' %}" alt="Achievement 1">
					{% elif achievement_hours_played >= 3 %}
						<img id="hours_3" width=80 height=80 src="{% static 'achievements/hours-silver.png' %}" alt="Achievement 1">
					{% elif achievement_hours_played >= 1 %}
						<img id="hours_2" width=80 height=80 src="{% static 'achievements/hours-copper.png' %}" alt="Achievement 1">
					{% else %}
						<img id="hours_1" width=80 height=80 src="{% static 'achievements/hours-white.png' %}" alt="Achievement 1">
					{% endif %}
				</div>
		
				<!-- Second row of images -->
				<div class="d-flex justify-content-between mt-3">
					<!-- Classic -->
					{% if achievement_matches_classic >= 42 %}
						<img id="classic_4" width=80 height=80 src="{% static 'achievements/classic-gold.png' %}" alt="Achievement 1">
					{% elif achievement_matches_classic >= 21 %}
						<img id="classic_3" width=80 height=80 src="{% static 'achievements/classic-silver.png' %}" alt="Achievement 1">
					{% elif achievement_matches_classic >= 10 %}
						<img id="classic_2" width=80 height=80 src="{% static 'achievements/classic-copper.png' %}" alt="Achievement 1">
					{% else %}
						<img id="classic_1" width=80 height=80 src="{% static 'achievements/classic-white.png' %}" alt="Achievement 1">
					{% endif %}

					<!-- Co-op Count -->
					{% if achievement_matches_coop >= 42 %}
						<img id="co-op_4" width=80 height=80 src="{% static 'achievements/co-op-gold.png' %}" alt="Achievement 1">
					{% elif achievement_matches_coop >= 21 %}
						<img id="co-op_3" width=80 height=80 src="{% static 'achievements/co-op-silver.png' %}" alt="Achievement 1">
					{% elif achievement_matches_coop >= 10 %}
						<img id="co-op_2" width=80 height=80 src="{% static 'achievements/co-op-copper.png' %}" alt="Achievement 1">
					{% else %}
						<img id="co-op_1" width=80 height=80 src="{% static 'achievements/co-op-white.png' %}" alt="Achievement 1">
					{% endif %}

					<!-- Win Played -->
					{% if achievement_matches_won >= 42 %}
						<img id="victory_4" width=80 height=80 src="{% static 'achievements/victory-gold.png' %}" alt="Achievement 1">
					{% elif achievement_matches_won >= 21 %}
						<img id="victory_3" width=80 height=80 src="{% static 'achievements/victory-silver.png' %}" alt="Achievement 1">
					{% elif achievement_matches_won >= 10 %}
						<img id="victory_2" width=80 height=80 src="{% static 'achievements/victory-copper.png' %}" alt="Achievement 1">
					{% else %}
						<img id="victory_1" width=80 height=80 src="{% static 'achievements/victory-white.png' %}" alt="Achievement 1">
					{% endif %}
				</div>
			</div>
			<div id="friends">
				<p id="friendsText">MATES ALONG THE WAY</p>
			</div>
		</div>
		{% endif %}
	</div>
</div>