<li class="list-group-item card mb-3" style="">
	<div class="card-body match-card p-1">
		<h4 class="card-title">Tournamet</h4>
		<h5 class="card-subtitle text-body-secondary">2 days ago</h5>
		<div class="container d-flex justify-content-around mt-2 p-0 align-items-center">
			<p class="mb-1" style="font-size: 1.5vw;">{{ record.left_name }}</p>
			<p class="mb-1" style="font-size: 2.3vw;">{{ record.left_score }} x {{ record.right_score }}</p>
			<p class="mb-1" style="font-size: 1.5vw;">{{ record.right_name }}</p>
		</div>
	</div>
</li>
