.kudosWrapper {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	height: 80%;
	color: white;
	margin-top: 15vh;
	margin-left: 25vw;
}

#emojiCarousel {
	margin-left: -2vw;
}

.carousel {
	font-size: 6vw;
	display: flex;
	font-weight: bold;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
  
.carousel-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	margin: 10px 0;
}

	.carousel-item.active {
	opacity: 1;
}

.emoji {
	font-size: 3rem;
	margin: 10px 0;
}

.name {
	font-size: 6vw;
	margin: 2vw 0;
}
  
.carousel-item img {
	width: 9vw;
	height: 9vw;
	object-fit: cover;
	border-radius: 5%; 
	margin: 10px 0;
}
