p#matchesHistoryText,
p#tournamentsText, 
p#userStatsText {
	font-size: 2em;
	font-weight: bold;
}

td#coopSquare {
	width: 20px;
	height: 20px;
	border: 5px solid var(--HEAVY_GRAY);
}

table {
	border-spacing: 30px;
}

div#coopHistoryDiv {
	margin-bottom: 15vh;
}