p#matchesHistoryText,
p#tournamentsText,
p#userStatsText {
    font-size: 2em;
    font-weight: bold;
}

td#coopSquare {
    width: 20px;
    height: 20px;
    border: 5px solid var(--HEAVY_GRAY);
}

table {
    border-spacing: 30px;
}

div#coopHistoryDiv {
    margin-bottom: 15vh;
}

div#matchRow {
    min-width: 100px;
    width: 95vh;
    background-color: #3a3535;
    font-size: 1.5em;
}

p#matchText {
    min-width: 10vh;
    width: 35vh;
}

p#matchScore,
p#matchHour,
p#matchDate {
    min-width: 2vh;
    width: 20vh;
    text-align: center;
}
