div#userDiv {
	margin-top: 10vh;	
}

div#userInfoContainer {
    margin-left: 15vw;
}

img#userImage {
	border-radius: 8px;
	border: 3px solid #FCFCFC;
	object-fit: cover;
}

p#userLogin {
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 0;
}

p#userDisplayName {
	font-size: 2em;
	font-weight: bold;
}

p#userStats {
	font-size: 1.5em;
	margin-right: 3rem !important;
}