#wood-grain-panel {
    background: url(../../images/woodgrain.jpg) center 70%;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    position: absolute;
}

#wood-grain-panel svg#atari-svg {
    margin-bottom: 4vh;
    bottom: 0;
    position: absolute;
    right: 3%;
}

