{% load static i18n %}

<nav id="languages-dropdown" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% get_current_language as CURRENT_LANGUAGE %}
                        {{ CURRENT_LANGUAGE }}
                    </a>
                    <ul class="dropdown-menu p-0 m-0" aria-labelledby="navbarDropdownMenuLink">
                        {% get_available_languages as AVAILABLE_LANGUAGES %}
                        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                        {% for language in languages %}
                            <li class="dropdown-item">
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <input type="hidden" name="language" value="{{ language.code }}">
                                    <button type="submit" name="submit" value="{{ language.code }}" class="language-button">
                                        <img height="20" width="20" src="{% static 'flags/' %}{{ language.code }}.png" alt="{{ language.name }}" class="flag-image">
                                    </button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
