:root {
    --background-color: #1C1A1A;
    --ORANGE: #F6790B;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
}

section {
    width: 100vw;
    height: 100vh;
}

section#home div#first {
    display: flex;
    justify-content: center;
}

#woodpanel {
    background: url(../../../images/woodgrain.jpg) center 70%;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    position: absolute;
}

section#home svg#pong-title-svg {
    margin-top: 7vh;
}

section#home svg#atari-svg {
    margin-bottom: 4vh;
    bottom: 0;
    position: absolute;
    right: 3%;
}

section#home div#second {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
}

div#orange-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    border: 2px solid var(--ORANGE);
    background: rgba(217, 217, 217, 0);
    width: 85vw;
    height: 40vh;
}

div#wrap-on-off {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    
}

div#text-svgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}

div#on-off-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#on-word {
    margin-bottom: 12vh;
    margin-top: 7vh;
}

div#off-word {
    margin-top: 0vh;
}

#power-word svg {
    width: 7.5vw;
    height: 4vh;
    min-width: 80px;
    min-height: 17px;
    fill: "none";
}

#power-svg-container {
    display: flex;
    justify-content: center;
}

svg#power-svg {
    width: 5vw;
    height: 20vh;
    margin-top: 4vh;
    min-width: 60px;
    min-height: 100px;
    flex-shrink: 0;
}
