* {
    margin: 0;
    padding: 0;
}

section.canvas {
    height: calc(3 * 100vh);
    width: calc(1 * 100vw);
    background-color: violet;
    z-index: 0;
}

section.camera {
    position: fixed;
    height: calc(1 * 100vh);
    width: calc(1 * 100vw);
    z-index: 10;
    border: 10px solid palegreen;
    box-sizing: border-box;
}
section.pane-layer {
    /* positioning */
    position: absolute;
    z-index: 5;
}
section.pane {
    /* dimensions */
    height: calc(1 * 100vh);
    width: calc(1 * 100vw);
}
section#first-pane {
    background: palegoldenrod;
}
section#second-pane {
    top: calc(1 * 100vh);
    background: peachpuff;
}
section#last-pane {
    top: calc(2 * 100vh);
    background: paleturquoise;
}
section.horizontal-pane .pane:first-child {
    background: lightsalmon;
}
section.horizontal-pane .pane:first-child {
    background: lightcoral;
}
/* section#second-pane {
    left: 100vw;
    top: 100vh;
    transition: left 0.5s ease;
} */
section.horizontal-pane {
    height: calc(1 * 100vh);
    width: calc(2 * 100vw);

    display: flex;
    flex-direction: row;
}





.off-view {
    transform: translateX(-100%);
    transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.on-view {
    transform: translateX(0);
}