:root {
    --background-color: #1C1A1A;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
}

section {
    width: 100vw;
    height: 100vh;
}

section#home {
    display: flex;
    justify-content: center;
}

#woodpanel {
    background: url(../../../images/woodgrain.jpg) center 70%;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    position: absolute;
}

section#home svg {
    margin-top: 7vh;
}