{% load static i18n %}

<script type="module" src="{% static 'js/stats-nav.js' %}"></script>

<nav id="statsNav" class="text-white d-flex justify-content-around mt-5">
	<h3 id="matchesHistoryText">{% translate "MATCHES HISTORY" %}</h3>
	<h3 id="tournamentsText">{% translate "TOURNAMENTS" %}</h3>
	<h3 id="userStatsText">{% translate "USER STATS" %}</h3>
</nav>
<div id="statsDiv">
	{% comment %}
	All htmls will be inserted here using tinyDOM, as we need to insert information dynamically 
	{% endcomment %}
</div>