{% load static i18n %}

<div class="kudosWrapper">
  <div id="emojiCarousel" class="carousel">
    <div class="carousel-item active">
      {% blocktrans %}
      MADE WITH { <span class="emoji">❤️</span> }
      {% endblocktrans %}
    </div>
  </div>
  <div id="nameCarousel" class="carousel">
      <div class="carousel-item active">
        {% blocktrans %}
        BY { <span class="name">roaraujo</span> <img src="{{ static 'images/roaraujo.jpeg' }}" alt="roaraujo's picture"> }
        {% endblocktrans %}
      </div>
  </div>
</div>

<script type="module" src="{% static 'js/kudos.js' %}"></script>